<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.bkkinfoplus"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".BkkInfoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <!--Alert List-->
        <activity
            android:name=".ui.alertlist.AlertListActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Alert Detail (currently not used as an activity) -->
        <activity
            android:name=".ui.alert.AlertDetailActivity"
            android:parentActivityName=".ui.alertlist.AlertListActivity">
        </activity>

        <!-- Settings -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.alertlist.AlertListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bkkinfoplus.ui.alertlist.AlertListActivity"/>
        </activity>
    </application>

</manifest>