<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2016 Olivér Falvai
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
-->
<manifest package="com.ofalvai.bpinfo"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Deny RECORD_AUDIO permission from Instabug -->
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />

    <!-- Denying READ_EXTERNAL_STORAGE permission from Instabug -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />

    <!-- Denying WRITE_EXTERNAL_STORAGE permission from Instabug -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />

    <!-- Denying ACCESS_WIFI_STATE permission from Instabug -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        tools:node="remove" />

    <application
        android:name=".BkkInfoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />

        <!-- Alert List -->
        <activity
            android:name=".ui.alertlist.AlertListActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Alert Detail (currently not used as an activity) -->
        <activity
            android:name=".ui.alert.AlertDetailActivity"
            android:parentActivityName=".ui.alertlist.AlertListActivity">
        </activity>

        <!-- Settings -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.alertlist.AlertListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.alertlist.AlertListActivity"/>
        </activity>

        <!-- About -->
        <activity
            android:name=".ui.settings.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ui.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.settings.SettingsActivity"/>
        </activity>

        <!-- Licences -->
        <activity
        android:name=".ui.settings.LicencesActivity"
        android:label="@string/title_activity_licences"
        android:parentActivityName=".ui.settings.AboutActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ui.settings.AboutActivity"/>
        </activity>

    </application>

</manifest>